.title{
    padding-top: 130px;
    position: relative;
    left: 10%;
    top: 20px;
}
.title-text{
    display: inline-block;
    text-align: center;
    color: #EF9A1B;
}
h1, h2{
    font-size: 3rem;
}